# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Build
build/
DerivedData/

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
